html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  position: relative;
  width: 100%;
  background: #0b0c21;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  overflow-x: hidden;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1163px;
  overflow: hidden;
  border-radius: 20px;
  background: #1f2038;
  padding: 20px;
  margin: 0 auto 20px auto;
}

h1,
h2,
h3,
h4,
.title {
  display: block;
  position: relative;
  font-size: 43px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  color: #ffd400;
}

h2,
.title.high {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  line-height: 56px;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(0deg, #14152d 0%, #45465e 100%);
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 16px;
}

h3,
title.medium {
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
}
h4,
title.mini {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: #ffd400;
}

article > *,
.article > *,
.desk > * {
  margin-top: 16px;
}

article > *:first-child,
.article > *:first-child,
.desk > *:first-child {
  margin-top: 0 !important;
}

article > h2,
.article > h2,
.desk > h2 {
  margin-top: 32px;
}

article > h3,
.article > h3,
.desk > h3 {
  margin-top: 16px;
}
article > h4,
.article > h4,
.desk > h4 {
  margin-top: 16px;
}

.button,
.button-page {
  position: relative;
  width: 264px;
  height: 78px;
  background: url(../images/button-register.svg) no-repeat center center /
    contain;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.5s;
}

.button-page {
  background: url(../images/button-page.png) no-repeat center center / contain;
}
a.button,
a.button-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover,
a.button-page:hover {
  transform: scale(1.1);
}

.header__button {
  position: relative;
  min-width: 132px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  padding: 8px 24px;
  margin: 0 auto;
  transition: all 0.5s;
}

.header__button-signin {
  background: #ffd400;
  color: #13151b;
  margin-right: 16px;
  margin-left: auto;
}

.header__button-signin:hover,
.header__button-login:hover {
  transform: scale(1.05);
}

.header__button-login {
  background: none;
  border: 1px solid #ffd400;
  color: #ffffff;
  margin-left: 0;
  margin-right: 16px;
}

.header,
.main,
.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
}

.background,
.hero__background {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background img,
.hero__background img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* -------------------HEADER---------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0b0c21;
  padding: 0;
  z-index: 100;
}

.header__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1440px;
  max-height: 67px;
  border-radius: 0;
  background: #0b0c21;
  padding: 20px;
  margin-bottom: 0;
}

.logo {
  display: block;
  position: relative;
  flex: 0 0 192px;
  margin-right: 68px;
  padding: 20px 0;
  transition: all 0.5s;
}

.header__logo {
  margin-left: 20px;
}

.logo:hover {
  transform: scale(1.2);
}

.logo img {
  display: block;
  position: relative;
  width: auto;
  max-height: 40px;
}

.header__menu {
  display: flex;
  white-space: nowrap;
  max-height: calc(100vh - 67px);
  overflow-y: auto;
}

.header__menu-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 40px;
}

.header__menu-list li {
  display: block;
  text-align: left;
  text-transform: capitalize;
  transition: all 0.5s;
}

.header__menu-list li a {
  display: block;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 0;
}

.header__menu li a:hover {
  color: #ffd400;
}
.header__country {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.header__country span {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
}

.header__country img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.header__btn {
  display: none;
}
/* -------------- header__btn-menu-----------*/

.header__btn-menu {
  display: block;
  flex: 0 1 auto;
  min-width: 0;
  background: #0b0c21;
  border: 1px solid #ffd400;
  padding: 12px;
  order: 3;
  transition: all 0.5s;
}

svg {
  position: relative;
  fill: #ffd400;
  line-height: 1;
  vertical-align: 1;
}

.header__btn-menu {
  display: none;
}

/* -------------main------------- */
.main {
  padding-top: 67px;
  padding-bottom: 0;
}

.content__wrapper {
  display: block;
  position: relative;
  flex: 1 1 100%;
  margin-left: 20px;
}

/* -------------sidebar--------- */

.sidebar-wrapper {
  display: block;
  position: relative;
  align-self: stretch;
  flex: 0 0 237px;
}
.sidebar {
  position: sticky;
  top: 67px;
  bottom: 20px;
  background: linear-gradient(180deg, #0b0c21 0%, #08091c 20.16%, #0b0c21 100%);
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 100px);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__menu ul li {
  position: relative;
  display: flex;
}

.sidebar__menu ul li a {
  display: block;
  display: flex;
  align-items: center;
  position: relative;
  color: #727489;
  transition: all 0.5s;
}

.sidebar__menu ul li a:hover {
  color: #ffd400;
}
.sidebar__menu ul li + li {
  margin-top: 20px;
}
.sidebar__menu li a img {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  margin: auto;
  margin-right: 16px;
  vertical-align: middle;
}

.sidebar__menu li a:hover img {
  filter: sepia(1) saturate(5) hue-rotate(10deg) brightness(1.2);
}

.sidebar__menu li span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 0px;
  width: 16px;
  height: 16px;
  background: #fa5926;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  border-radius: 50px;
}

.sidebar__menu ul::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;

  background: linear-gradient(
    90deg,
    #2b1234 0%,
    rgba(255, 247, 46, 0.733333) 24.02%,
    #fff72e 48.91%,
    #fff72e 73.97%,
    #2b1234 100%,
    #292526 100%
  );
  margin: 20px 0;
}

.sidebar__links-button {
  position: relative;
  font-size: 16px;
  width: 100%;
  font-weight: 700;
  color: #ffd400;
  text-align: left;
  line-height: 32px;
  background: none;
  text-transform: uppercase;
  white-space: normal;
  padding-right: 48px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.sidebar__links-button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../images/sidebar/sidebar-arrowDown.svg) no-repeat center
    center / contain;
  transition: transform 0.5s;
}

.sidebar__links-button.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.sidebar__links-list li a {
  display: block;
  color: #727489;
  transition: all 0.5s;
}

.sidebar__links-list.active {
  display: block;
}

.sidebar__links-list li a:hover {
  color: #ffffff;
  font-weight: 700;
}

.sidebar__links-list li + li {
  padding-top: 12px;
}

.page-nav-button {
  margin-bottom: 0;
  cursor: pointer;
}

.sidebar__links-list,
.page-nav-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.sidebar__links-list.active,
.page-nav-list.active {
  display: block;
  max-height: 1000px;
}

.page-nav-list.active {
  margin-top: 20px;
}

.page-nav {
  display: none;
}

/* -----------hero------ */

.hero {
  padding: 0;
  border-radius: 20px;
  padding: 60px;
  height: 430px;
  height: 100%;
}

.hero__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 570px;
}

.hero__title {
  text-align: left;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.hero__title strong {
  color: #ffffff;
  font-weight: 900;
}

.hero__rating {
  display: flex;
  font-weight: 500;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero__rating p {
  margin-right: 16px;
}
.hero__rating span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero__rating span:nth-child(1),
.hero__rating span:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.hero__text {
  margin-bottom: 30px;
  text-align: left;
}

.hero__button {
  margin-left: 0;
}

/* -------------article--------------- */

.article .article__subtitle {
  justify-content: start;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  padding: 0;
  margin: 16px 0 0 0;
}

.article__button,
.ratings__button {
  display: block;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}

.article ul li {
  position: relative;
  padding-left: 20px;
}

.article ul li::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background: #ffffff;
}

/* для нумерованного списка */

.article ol {
  counter-reset: ol;
  position: relative;
}

.article ol li {
  counter-increment: ol;
  position: relative;
  padding-left: 20px;
}

.article ol li::before {
  content: counter(ol) ".";
  display: inline-block;
  position: absolute;
  font: inherit;
  font-weight: 700;
  color: inherit;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* ---------features---------------- */
.features {
  /* display: flex; */
  width: 100%;
  margin-bottom: 20px;
}

.features__wrapp {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
}

.features__banner {
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: column;
}

.features-banner__background {
  position: relative;
  height: 100%;
}

.features-banner__background img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.content__wrapp {
  display: flex;
  gap: 20px;
  width: 100%;
  background: #1f2038;
  border-radius: 16px;
}

.features__list {
  width: 50%;
  background: linear-gradient(0deg, #14152d 0%, #45465e 100%);
  border-radius: 20px;
}

.features__list li,
.features__table tr {
  display: flex;
  flex-direction: row;
  position: relative;

  padding: 12px 24px;
}

.features__table td:nth-child(1) {
  font-weight: 700;
  color: #ffd400;
  padding-right: 10px;
}

.features__list li {
  align-items: center;
}

/* .features__list li + li,
.rating__table tr + tr {
  margin-top: 8px;
} */
.features__list li::before {
  content: "";
  display: block;
  position: relative;
  min-width: 22px;
  height: 24px;
  background: url(../images/main/features-icon.svg) no-repeat center
    center/contain;
  vertical-align: middle;
  margin-right: 20px;
}

.features__table {
  width: 100%;
}
.features__table table {
  width: 100%;
  display: flex;
  gap: 20px;
}
.features__table table tbody {
  width: 50%;
  background: linear-gradient(0deg, #14152d 0%, #45465e 100%);
  border-radius: 20px;
}

.features__table tr {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 12px 20px;

  overflow: hidden;
}

.features__table tr:first-child {
  margin-top: 0;
}
.features__table td {
  width: 50%;
}

/* -------------banner---------------- */

.banner {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  width: 100%;
  min-height: 368px;
  border: 1px solid #ffd400;
  padding: 20px 20px 20px 60px;
  background: transparent;
  border-radius: 20px;
  margin-bottom: 20px;
}

.banner__info {
  display: flex;

  flex-direction: column;
  align-items: center;
  position: relative;

  text-align: center;

  border-radius: 12px;
  padding: 16px;
}

.banner .banner__title-main {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  line-height: 40px;
  font-size: 32px;
  color: #ffd400;
  width: 100%;
  background: none;
  padding: 0;
  text-transform: none;
  margin-bottom: 30px;
}

.banner .banner__title-main::after,
.banner .banner__title-main::before {
  display: none;
}

.banner .banner__title-main strong {
  color: #ffffff;
  font-size: 20px;
  line-height: 32px;

  font-weight: 700;
  margin-top: 10px;
}

.banner .banner__title-main strong span {
  color: #fff72e;
}

.banner .banner__background-bonus img {
  object-position: 100%;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 262px;
  min-height: 300px;
  max-height: 300px;
}

.banner .banner__background-bonus {
  width: 100%;
  height: 100%;
  max-width: 262px;
  min-height: 300px;
  min-height: 300px;
}

/* ------------ratings------------------- */
.ratings__wrap {
  display: flex;
}

.rating__table {
  display: flex;
  gap: 20px;
}

.rating__table table {
  width: 50%;
}

.rating__table table {
  display: flex;
}

.rating__table tbody {
  width: 100%;

  border-radius: 20px;
}

.ratings__button {
  margin-top: 16px;
}

.rating__table tr {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #14152d 0%, #45465e 100%);
  border-radius: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 16px;
}

.rating__table tr + tr {
  margin-top: 8px;
}

.table tr td:nth-child(1) {
  flex: 0 0 140px;
  font-weight: 500;
}
.table tr td:nth-child(3) {
  flex: 0 1 20px;
  font-weight: 500;
  margin-left: auto;
}

.table tr td:nth-child(2) {
  display: flex;
  gap: 4px;
}

.table tr td img {
  width: 26px;
  height: 26px;
}

/* --------faq------------- */

.faq__subtitle {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: left;
  background: linear-gradient(0deg, #14152d 0%, #45465e 100%);
  border: 1px solid #ffd400;
  border-radius: 20px;
  color: #ffd400;
  cursor: pointer;
  padding: 16px 60px 16px 16px;
}

.faq__list li + li {
  margin-top: 16px;
}

.faq__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 20px;
  height: 20px;
  background: url(../images/faq-arrowDown.svg) no-repeat center center / contain;
  transition: transform 0.5s ease;
}

.faq__subtitle.active::after {
  transform: translateY(-50%) rotate(180deg);
}

.faq__subtitle.active {
  border-radius: 20px 20px 0 0;
  border-bottom: none;
}

.faq__subtitle.active::before {
  display: none;
}

.faq__answer {
  padding: 16px;
  background: transparent;
  border: 1px solid #fdcd0b;
  border-radius: 0 0 20px 20px;
  border-top: none;
}

.js-expand-content {
  display: none;
  overflow: hidden;
}

.js-expand-content.expanded {
  height: 100%;
}
/* ---------main__arrow------ */
.main__arrow {
  display: block;
  position: fixed;
  width: 42px;
  height: 42px;
  right: 20px;
  bottom: 20px;
  background: url(../images/ArrowUp.svg) no-repeat center center / contain;
  z-index: 100;
}

/* -------footer------------ */
.footer {
  justify-content: flex-end;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  padding: 20px;
  gap: 32px;
  margin: 0;
}

.footer__logo {
  display: flex;
  max-height: 40px;
  padding: 0;
  margin: 0 auto;
  flex: 0;
}

.footer__logo img {
  display: block;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #ffffff1a;
  padding: 4px 32px;
}

.footer__menu li a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff80;
  padding: 4px 16px;
  transition: all 0.5s ease;
}

.footer__menu li a:hover {
  border-radius: 20px;
  background: #ffd400;
  color: #13151b;
  padding: 4px 16px;
}

.footer__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.footer__cards li a {
  display: block;
}

.footer__cards li {
  transition: all 0.5s;
}

.footer__cards li:hover {
  transform: scale(1.1);
}

.footer__cards img {
  width: 100%;
  height: auto;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__wrap img {
  display: block;
  width: 64px;
  height: 56px;
}

.footer__wrap p {
  color: #ffffff80;
}

/* --------------bonus-page--------------- */
.breadcrumbs {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

.breadcrumbs li:not(:last-child) a {
  padding-left: 0;
}

.breadcrumbs li a {
  font-weight: 400;
  color: #ffffff;
  padding: 10px;
}

.breadcrumbs li:first-child a:hover {
  color: #ffd400;
}

.breadcrumbs li:last-child a {
  font-weight: 700;
}

.breadcrumbs > li:not(:last-child):after {
  content: "|";
  position: relative;
}

.article__link {
  color: #ffd400;
}

.banner__bonus {
  display: flex;
  gap: 20px;
  border: none;
  background: none;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding: 0;
}

.banner__bonus,
.banner__app {
  position: relative;
  border-radius: 16px;
}

.banner__data-bonus {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  padding: 20px;
}
.banner__data-bonus p {
  text-align: left;
  margin-bottom: 20px;
}

.banner__background {
  display: block;
}

.banner__background img {
  display: block;
}

.banner .banner__title-bonus {
  color: #ffd400;
  font-size: 38px;
  line-height: 56px;
  background: none;
  margin-bottom: 20px;
  padding: 0;
}
.banner__btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.banner__button-bonus {
  width: 149px;
  height: 48px;
  background: #ffd400;
  color: #13151b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  z-index: 3;
  padding: 12px 32px;
}

.banner__button-bonus:last-child {
  border: 1px solid #ffd400;
  background: transparent;
  color: #ffd400;
}

.banner__button-bonus:hover {
  transform: scale(1.1);
}

.article__list li + li {
  margin-top: 8px;
}

.banner__content {
  position: relative;
  display: flex;
  border: 1px solid #ffd400;
  border-radius: 20px;

  justify-content: center;

  align-items: center;
  flex: 0 0 100%;
  background: linear-gradient(0deg, #14152d 0%, #45465e 100%);

  overflow: hidden;
  border-radius: 16px;
}

/* --------------------app-page------------- */
.banner__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 212px;
  height: 212px;
  border: 1px solid #ffd400;
  border-radius: 20px;
  padding: 20px 98px;
}
.banner__logo {
  width: 276px;
  flex: 0 0 276px;
  margin-left: 0;
  margin-right: 0;
  z-index: 3;
}

.banner__logo img {
  max-height: 73px;
}

.banner__content-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  flex-direction: row-reverse;
}
.banner__btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 240px;
  height: 64px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background: #1f2038;
  border: 2px solid #ffd400;
  box-shadow: 0px -1px 20px 0px #fdcd0a99;
  color: #ffffff;
  justify-content: center;
  cursor: pointer;
  padding: 8px 52px 8px 66px;
  margin: 0 auto;
  transition: all 0.3s ease;
  overflow: hidden;
}

.banner__btn:hover {
  transform: scale(1.1);
}

.banner__btn span {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.button__wrap-app {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner__btn-app::after,
.banner__btn-google::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url(../images/app/apple.svg) no-repeat center center / contain;
}

.banner__btn-google::after {
  background: url(../images/app/android.svg) no-repeat center center / contain;
}
